<div class="footer">
    <p>&copy; 2025 <span class="web3d">web3d</span>. Tất cả các quyền được bảo lưu.</p>
</div>

<!-- Link Font Awesome để sử dụng các biểu tượng -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>