<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style/admin.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="/dashboard/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/account-management"><i class="fas fa-users"></i> Quản lý người dùng</a></li>
        <li><a href="/admin/course-management"><i class="fas fa-book"></i> Quản lý khóa học</a></li>
        <li><a href="/admin/messages"><i class="fas fa-envelope"></i> Tin nhắn</a></li>
        <li><a href="/admin/reports"><i class="fas fa-chart-bar"></i> Báo cáo và thống kê</a></li>
    </ul>
</div>